.container3 {
    background-color: #eee; }
    .container3 .img1 {
      width: 100%;
      opacity: .7; }
      .container3 .img1:hover {
        opacity: 1;
        scrollbar-shadow-color: #3d270a; }
      .container3 .img1 img {
        width: 100%;
        overflow: scroll; }

        @media (max-width: 575px){
            .container2 {
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
                color: white;
                grid-auto-rows: minmax(400px, auto); }
                .container2 .boxs {
                  padding: 0 20px;
                  margin: 40px 20px;
                  border: 1px solid #3d270a; }
                  .container2 .boxs .fa {
                    font-size: 100px;
                    padding: 30px auto;
                    margin: 10px 0;
                    color: white; }
        }