@import url('<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">');
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Spirax");
.bg-dark {
  background-color: #f1bc48 !important; }
  .bg-dark .container .row .py-4 h1, .bg-dark .container .row .py-4 h4, .bg-dark .container .row .py-4 p {
    color: #eee; }

main {
  background-image: url("https://images.pexels.com/photos/1020320/pexels-photo-1020320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 10PX;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  text-transform: uppercase; }
  main .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%); }
    main .container h1 {
      font-size: 40px;
      color: #3d270a;
      font-family: 'Monoton', cursive; }
    main .container P {
      font-family: 'Srisakdi', cursive;
      font-size: 20PX;
      font-weight: bolder;
      color: #db8515; }
    main .container > div {
      width: 400px;
      font-size: 1em;
      margin: 5px auto;
      cursor: pointer;
      font-family: 'Srisakdi', cursive; }
      main .container > div Navlink {
        color: #3d270a; }

.container2 {
  background-color: #f1bc48;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  text-align: center;
  color: white;
  grid-auto-rows: minmax(400px, auto); }
  .container2 p {
    text-align: center;
    font-size: 15px;
    font-family: 'Chicle', cursive; }
  .container2 .boxs {
    padding: 0 20px;
    margin: 40px 20px; }
    .container2 .boxs h2 {
      font-family: 'Spirax', cursive; }
    .container2 .boxs .fa {
      font-size: 100px;
      padding: 30px auto;
      margin: 10px 0;
      color: white; }

.container3 {
  background-color: #eee; }
  .container3 .img1 {
    width: 100%;
    opacity: .7; }
    .container3 .img1:hover {
      opacity: 1;
      scrollbar-shadow-color: #3d270a; }
    .container3 .img1 img {
      width: 100%;
      overflow: scroll; }

.container4 {
  background-color: #eee;
  width: 99%;
  margin: 0 auto; }
  .container4 .boxs-parnt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 25px;
    margin: 20px 0;
    color: white; }
    .container4 .boxs-parnt .box {
      background-color: #f1bc48;
      text-align: center;
      margin: 0 10px; }
      .container4 .boxs-parnt .box h3 {
        font-family: 'Chicle', cursive; }
      .container4 .boxs-parnt .box img {
        width: 100%;
        height: 200px; }
      .container4 .boxs-parnt .box ul {
        text-align: left;
        line-height: 25px; }
  .container4 .content {
    text-align: center;
    height: 80px;
    padding: 20px auto; }
    .container4 .content h4 {
      color: #3d270a;
      margin: auto;
      padding: 20px 20px;
      font-size: 30px;
      font-family: 'Chicle', cursive;
      text-transform: uppercase;
      line-height: 40px;
      border-bottom: 1px solid #663d08; }

.container5 .contact {
  height: 240px;
  background-color: #f1bc48;
  margin: 0;
  text-align: center;
  padding: 20px;
  color: white; }
  .container5 .contact i {
    padding: 20px;
    font-size: 30px;
    color: white; }
    .container5 .contact i:hover {
      opacity: 1;
      color: #db8515; }

.container5 .footer {
  display: grid;
  background-color: #eee;
  grid-auto-rows: minmax(60px, auto);
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  color: #db8515; }
  .container5 .footer:hover {
    opacity: 1;
    color: #502f05; }

.comment-style {
  text-align: left;
  line-height: 0px;
  background-color: antiquewhite; }
  .comment-style .content {
    padding: 10px 20px;
    line-height: 0px; }
  .comment-style .comment {
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    color: red; }
  .comment-style h3 {
    font-size: 20px;
    color: #3d270a;
    line-height: 10px;
    font-family: 'Chicle', cursive; }
  .comment-style p {
    font-family: 'Permanent Marker', cursive;
    color: #db8515; }
  .comment-style span {
    float: right;
    font-size: 30px;
    display: flex;
    cursor: pointer;
    margin: 20px 20px;
    opacity: .5; }
    .comment-style span:hover {
      opacity: 1; }

.comments-views {
  display: grid;
  grid-auto-rows: minmax(400px, auto);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  background-color: #f1bc48; }
  .comments-views .leftbox h1 {
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: aliceblue; }
  .comments-views .leftbox .comment {
    margin: 10px auto;
    padding: 20px 20px; }

.rightbox {
  padding: 80px auto;
  justify-content: center; }
  .rightbox form textarea {
    margin: 10px auto;
    display: block;
    height: 80px;
    width: 70%;
    background-color: #eee; }
  .rightbox form input {
    display: block;
    width: 70%;
    height: 30px;
    margin: 0 auto;
    background-color: #eee; }
  .rightbox form button {
    display: block;
    height: 30PX;
    width: 300px;
    font-size: 1em;
    margin: 10px auto;
    cursor: pointer;
    font-family: 'Srisakdi', cursive;
    height: 40px; }
    .rightbox form button:hover {
      opacity: 1;
      color: white;
      background-color: #f1bc48;
      border: 1px solid #3d270a; }

.about .col-sm-4 .image {
  margin: 20px auto;
  display: inline; }
  .about .col-sm-4 .image img {
    width: 90%; }

@media (max-width: 547px) {
  .bg-dark .container .row .py-4 h1 {
    font-size: 20px; }
  .bg-dark .container .row .py-4 h4 {
    font-size: 15px; }
  .bg-dark .container .row .py-4 p {
    font-size: 10px; }
  main {
    margin: auto;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    main .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%); }
      main .container h1 {
        font-size: 20px;
        color: #3d270a;
        letter-spacing: 7px; }
      main .container p {
        font-size: 15px;
        letter-spacing: 2px;
        text-align: center; }
      main .container a {
        padding: 10px;
        width: 20%;
        font-size: 10px;
        letter-spacing: 2px; }
        main .container a:hover {
          background-color: #663d08;
          color: #eee; }
  .container2 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    color: white;
    grid-auto-rows: minmax(400px, auto); }
    .container2 .boxs {
      padding: 0 20px;
      margin: 40px 20px;
      border: 1px solid #3d270a; }
      .container2 .boxs .fa {
        font-size: 100px;
        padding: 30px auto;
        margin: 10px 0;
        color: white; }
  .container4 {
    background-color: #eee;
    width: 99%;
    margin: 0 auto; }
    .container4 .boxs-parnt {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(300px, auto);
      grid-gap: 10px;
      margin: 10px 0;
      color: white; }
      .container4 .boxs-parnt .box {
        background-color: #f1bc48;
        text-align: center;
        margin: 20 10px; }
        .container4 .boxs-parnt .box img {
          width: 100%;
          height: 250px; }
    .container4 .content {
      text-align: center;
      height: 140px;
      padding: 20px auto; }
      .container4 .content h4 {
        font-size: 30px; } }
