.container4 {
    background-color: #eee;
    width: 99%;
    margin: 0 auto; }
    .container4 .boxs-parnt {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(300px, auto);
      grid-gap: 25px;
      margin: 20px 0;
      color: white; }
      .container4 .boxs-parnt .box {
        background-color: #f1bc48;
        text-align: center;
        margin: 0 10px; }
        .container4 .boxs-parnt .box img {
          width: 100%;
          height: 200px; }
    .container4 .content {
      text-align: center;
      height: 80px;
      padding: 20px auto; }
      .container4 .content h4 {
        color: #3d270a;
        margin: auto;
        padding: 20px 20px;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase; }


 @media (max-width: 575px){
    .container4 {
        background-color: #eee;
        width: 99%;
        margin: 0 auto; }
        .container4 .boxs-parnt {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-auto-rows: minmax(300px, auto);
          grid-gap: 10px;
          margin: 10px 0;
          color: white; }
          .container4 .boxs-parnt .box {
            background-color: #f1bc48;
            text-align: center;
            margin: 0 10px; }
            .container4 .boxs-parnt .box img {
              width: 100%;
              height: 200px; }
        .container4 .content {
          text-align: center;
          height: 100px;
          padding: 20px auto; }
          .container4 .content h4 {
            font-size: 30px; } 
    
 }